.workSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.wait{
    color: rgb(199, 169, 0);
}
@media only screen and (max-width:510px){
    .workSection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
};
@media only screen and (max-width:995px) and (min-width:511px){
    .workSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
}